<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NRHPStubber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="mediaWiki" type="Tyng.MediaWiki.Configuration.MediaWikiSection, Tyng.MediaWiki" requirePermission="false" />
  </configSections>
  <mediaWiki defaultLoginName="NrhpBot">
    <logins>
      <add loginName="NrhpBot" password="XXXXXXXX" />
    </logins>
    <sleep>
      <remove action="Submit" />
      <add action="Submit" sleep="10000" />
      <remove action="Query" />
      <add action="Query" sharedSleep="Submit" />
    </sleep>
  </mediaWiki>
  <connectionStrings>
    <add name="NRHP20070628" connectionString="Integrated Security=SSPI;Server=localhost;database=NRHP_20070628"
      providerName="System.Data.SqlClient" />
    <add name="NRHPStubber.Properties.Settings.NRHP20070628" connectionString="Data Source=LT_085;Initial Catalog=NRHP_20070628;Integrated Security=True;Application Name=&quot;NRHP Stubber&quot;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="GoogleAJAXSearchAPIKey" value="ABQIAAAA7vgii0jlzZw0VDSZv_0_ThQQcp3yHfYdvNF2yMwM3uUI13B9EhRsUm_umo-CjEwxHVcr_sol7PZSDg"/>
  </appSettings>
  <userSettings>
    <NRHPStubber.Properties.Settings>
      <setting name="NrhpBotPassword" serializeAs="String">
        <value />
      </setting>
    </NRHPStubber.Properties.Settings>
  </userSettings>
</configuration>